@mixin apply-typography($style) {
    $selected-style: map-get($typography-styles, $style);
    font-size: map-get($selected-style, font-size);
    line-height: map-get($selected-style, line-height);
    font-style: map-get($selected-style, font-style);
  }

  @mixin theme-variables($theme) {
    background-color: map-get($theme, background);
    color: map-get($theme, text);
  }
  